.home-container {
  padding: 20px;
  background-color: aquamarine;
}

.home-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}

.home-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
